@import url('./fonts.css');

/* Reset all paddings and margins */
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Classes - Community */

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  font-family: BioRhyme, sans-serif;
  color: #363636;

  background-color: rgb(11, 125, 11);
  background: linear-gradient(
    0deg,
    rgba(11, 125, 11, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
}

.wrap {
  position: relative;
  flex-grow: 1;
  height: 100%;
  max-height: 800px;
  max-width: 1000px;
  width: 100%;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.clock {
  font-size: 18px;
  color: #f0f0f1aa;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.play-section {
  padding-top: 7rem;
}

.scores-list {
  color: antiquewhite;
}

.playing-field {
  width: 100%;
}

.playing-field::after {
  content: '';
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 10vh;
  border-bottom: 4px solid #696969;
  border-radius: 50%;
}

.stats {
  position: absolute;
  left: 1rem;
  top: 2rem;
}

.player-name {
  text-transform: uppercase;
}

.rules-list {
  margin: 0.5rem;
}

.rules-list-item:not(:last-child) {
  padding-bottom: 0.5rem;
}

.rules-list-item > span {
  font-weight: 900;
}

.player-field,
.dealer-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealer-field {
  margin-bottom: 2rem;
}

.draw-card-item {
  width: 120px;
  border-radius: 4px;
  overflow: hidden;
}

.draw-card-item:not(:last-child) {
  margin-right: -5rem;
}

#buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
}

/* Buttons code was used from https://getcssscan.com/css-buttons-examples. */
.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button:disabled {
  color: rgba(0, 0, 0, 0.65);
  background-color: #f0f0f1aa;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;

  cursor: default;
  transform: translateY(0);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;

  text-align: center;
}

/* *============ Welcome window  */

/* ================ Backdrop  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.backdrop.is-hidden,
.modal-info.is-hidden,
.buttons.is-hidden,
.stats.is-hidden,
.modal-rules.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}

/* ================= Modal window */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 16px;
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  z-index: 200;

  text-align: left;
  background: #fcfcfcaa;

  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

/* Enter Player name form */

.welcome-container {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.welcome-header {
  margin-bottom: 1.5rem;
}

.rules-header {
  text-align: left;
  margin: 1rem;
}

.form {
  flex-wrap: wrap;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field {
  position: relative;
}

.form-input {
  margin: 0;
  padding: 10px 10px;

  font: inherit;
  font-size: 17px;

  border-radius: 0.25rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  transition: transform var(--trans-dur-and-func),
    color var(--trans-dur-and-func);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: rgb(11, 125, 11);
  transform: translateY(-50px);
}

.error-name {
  position: absolute;
  bottom: -25px;
  left: 8px;
  color: tomato;
  text-transform: uppercase;
}

.isEighteen {
  position: relative;
}

.error-age {
  position: absolute;
  top: -20px;
  left: 20px;
  color: tomato;
  text-transform: uppercase;
}

.modal-info {
  background: #fcfcfc;
  height: 30vh;
  width: 80vw;
}

.modal-info.modal-rules {
  background: #fcfcfc;
  height: 100vh;
  width: 100vw;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.modal-info-close {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 25px;
  background-color: transparent;
  border: none;
}

.modal-info-root {
  padding-top: 3rem;
}

.modal-info.modal-rules .modal-info-root {
  padding-top: 0;
  padding-bottom: 2rem;
}

.modal-info-p {
  text-transform: uppercase;
  font: inherit;
  font-weight: 600;
}

.rules-head {
  font-weight: 900;
}

.clearData-btn {
  margin: 0 auto;
  display: block;
  height: 2rem;
}

/* Screens with 768px and up*/

@media screen and (min-width: 768px) {
  .draw-card-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  .form {
    flex-wrap: nowrap;
    gap: 0;
  }

  .modal {
    height: auto;
    padding: 24px;
  }

  .form-field {
    margin-right: 1rem;
  }

  .welcome-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .buttons-list {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  #buttons {
    bottom: 6rem;
  }
  .dealer-field {
    margin-bottom: 4rem;
  }
  .play-section {
    padding-top: 4rem;
  }

  .stats {
    position: absolute;
    top: 0;
    right: 0;
  }
  .modal-info-root {
    padding-top: 0;
  }

  .modal-info {
    width: 40vw;
  }
  .modal-info.modal-rules {
    height: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 24px;
  }
  .modal-info.modal-rules .modal-info-root {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Screens with resolution 992px and up */

@media screen and (min-width: 992px) {
  .draw-card-item:not(:last-child) {
    margin-right: 1rem;
  }

  #buttons {
    bottom: 7rem;
  }
}
